#all_second{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

#habitation{
    width: 73%;
    background-color: var(--background-grey);
    border-radius: 20px;
    margin-right: 40px;
    padding: 40px 20px 10px 20px;
}

#habitation article{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
} 

aside{
    width: 27%;
    background-color: var(--background-grey);
    border-radius: 20px;
    padding: 40px 20px;
}

.fa-chart-line{
    margin-left: 70px;
}

#habitation h2, aside h2    {
    margin: 0 15px 15px 15px;
}

#plus{
    display: block;
    text-decoration: none;
    color:black;
    font-weight: 600;
    font-size: 18px;
    margin: 30px 15px 0px 15px;
}

@media only screen and (min-width: 760px) and (max-width: 1024px){
    #all_second{
        flex-direction: column-reverse;
        margin: 10px 0;
    }

    #habitation{
        display: block;
        width: auto;
        border-radius:0;
        padding:0;
        background-color: white;
        margin: 20px;
    }

    aside{
        display: block;
        width: auto;
        border-radius:0;
        padding:0 20px 40px 20px;
    }

    #plus{
        display: block;
        text-decoration: none;
        color:black;
        font-weight: 600;
        font-size: 18px;
        margin: 20px 20px 10px 20px;
    }

    #habitation h2, aside h2{
        margin: 30px 15px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    #all_second{
        flex-direction: column-reverse;
        margin: 10px 0;
    }

    #habitation{
        width: 100%;
        border-radius:0;
        padding:0;
        background-color: white;
    }

    aside{
        width: 100%;
        border-radius:0;
        padding: 0;
    }

    #plus{
        display: block;
        text-decoration: none;
        color:black;
        font-weight: 600;
        font-size: 18px;
        margin: 20px 20px 10px 20px;
    }

    #habitation h2, aside h2    {
        margin: 30px 15px;
    }
}